/JwtAuthService/.vs/
/JwtAuthService/AnotherDataService/bin/
/JwtAuthService/AnotherDataService/obj/
/JwtAuthService/AuthService/bin/
/JwtAuthService/AuthService/obj/
/JwtAuthService/DataService/bin/
/JwtAuthService/DataService/obj/
